* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e8eaee;
  font-family: Helvetica, Arial, sans-serif;
}

.main-header {
  background: #4a53b3;
  border-bottom: 1px solid #303c7e;
  color: #fff;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__title {
  font-size: 14px;
}

.main-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  background: #fff;
  border: 1px solid #dcdde1;
  color: #22242d;
  margin-bottom: 10px;
  padding: 15px;
  width: 500px;
}

.post__header {
  border-bottom: 1px solid #eaecf0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
}

.post__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.post__author {
  color: #3e479a;
}

.post__date {
  color: #616670;
}
